main{
    background: url(../../assets/images/car_background_with_overlay.png);
    background-size:cover;
    width: 95%;
    margin: 5px auto;
    border-radius: 20px;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    align-items: center;
    padding: 10px;
    background-attachment: fixed;
}
.hero-content{
    text-align: center;
    padding-top: 80px;
    height: 100%;
    border-radius: 10px 10px 0 0;
}
.hero-content h1{
    font-size: 10vmin;
}
.hero-content p{
    font-size: 20px;
}
.hero-buttons{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 20px 10px;
}
.hero-buttons button{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding: 7px;
    align-items: center;
    min-width: 200px;
    height: 55px;
    border-radius: 20px;
}
.hero-buttons button:hover span{
    rotate: 300deg;
    transition: 1s ease;
}
.hero-buttons button span{
    height: 40px;
    width: 40px;
    background-color: white;
    color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-buttons button p{
    font-size: 18px;
}
.hero-buttons a{
    text-decoration: none;
}
.hero-buttons svg{
    width: 30px;
}
.main-btn{
    background-color: #82378C;
    color: white;
    border: none;

}
.sec-button{
    background-color: transparent;
    color: white;
    border: 1.5px solid white;
}
.book-form{
    display: flex;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    color: black;
    align-items: center;
    text-align: left;
    gap: 10px;
    margin: 0 auto;
}
.book-form div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.book-form input{
    height: 40px;
    outline: none;
    border: none;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
}
.book-form button{
    min-width: 150px;
    height: 45px;
    border-radius: 20px;
    border: none;
    background-color: #82378C;
    color: white;

}

@media screen  and (max-width:768px){
    .book-form{
        flex-direction: column;
        justify-content: flex-start;
        /* align-self: flex-end; */
        width: 100% !important;
        background-color: transparent;
        backdrop-filter: blur(100px);
        position: fixed;
        bottom: 0;
        left: 0;
        color: white;
        display: none;
    }
    .hero-content h1{
        font-size: 55px;
    }
    .hero-content p{
        font-size: 17px;
    }
    .book-form div{
        width: 100%;
    }
    .book-form input{
        width: 100%;
        height: 45px;
    }
    .book-form button{
        width: 100%;
    }
    main{
        justify-content: flex-end;
        padding: 10px;
    }
    
    /* rent a car modal */
    .mobile-activate-rental-modal{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .mobile-activate-rental-modal svg{
        width: 50px;
    }

    /* buttons */
    .hero-buttons{
        flex-direction: column;
        align-items: center;
    }
    .hero-buttons button{
        min-width: 250px;
    }

}