header{
    display: flex;
    justify-content: space-around;
    max-width: 1500px;
    margin: 0 auto;
    padding: 7px;
    gap: 20px;
    align-items: center;
}
.logo img{
    width: 130px;
}
.header-nav ul{
    display: flex;
    gap: 20px;
}
.haeder-menu-item{
    display: flex;
    align-items: center;
    gap: 5px;
}
.haeder-menu-item svg{
    width: 15px;
}
.header-button{
    background-color: #82378C;
    height: 40px;
    padding: 5px;
    min-width: 150px ;
    border: none;
    border-radius: 120px;
    color: white;
}
.header-button:hover{
    scale: 1.05;
}

@media screen  and (max-width:768px){
    .ham-container{
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 40px;
    }
    .ham-container .ham-line{
        width: 30px;
        height: 3px;
        background-color: #1f1d1d;
    }
    .ham-container.opened :nth-child(1){
        rotate: 120deg;
        transition: 1s;
    }
    .ham-container.opened :nth-child(2){
        rotate: -120deg;
        translate: -50deg;
        transition: 1s;
    }
    .ham-container.opened :nth-child(3){
        display: none;
        transition: 1s;
    }

    /* hide desktop menu */
    header{
        justify-content: space-between;
    }
    .header-nav{
        display: none;
    }
    .header-main-buttons{
        display: none;
    }
    
    /* mobile menu */
    .mobile-header-container{
        position: absolute;
        top: 60px;
        /* min-height: 80vh; */
        width: 97%;
    }
    
}